<div class="section-one">
	<div class="fl w-100 pa2">
		<div class="center mw6-m mw6-l">
			<%= image_tag "OBVIO-logo.png" %>
		</div>
		<p class="f4 mt4 mb4 center measure lh-copy">
			We don’t handle your social media. Or do your online media buying. Or do maintenance and support. Why? Because we think companies that claim they can do everything actually excel at nothing.
		</p>
		<p class="f4 mb4 center measure lh-copy">
			So, what do we do? Well…We are designated hitters in the following areas;
		</p>
		<ul class="f4 mb4 center measure lh-copy">
			<li>We design and develop your website to work across mobile and beyond.</li>
			<li>We help with branding by crafting a beautiful logo that’s right for your brand.</li>
			<li>We help your company think through challenging product design problems by prototyping the UX/UI for it.</li>
		</ul>
		<p class="f4 mb4 center measure lh-copy">
      Best part…We don’t take multiple months to deliver. We work in scoped sprints, anywhere from two to six weeks. At a flat cost, no BS.
    </p>
    <p class="f4 mb4 center measure lh-copy">
      <span class="fw9">Our prices are tailored only for small businesses or early stage startups. Who need fast, reliable, high quality work.</span> No big reveal. We get the work done, and provide you with the best quality work that we possibly can under these constraints. <span class="fw9"> If you think your project requires 6 months of work and hundreds of thousands of dollars, then we’re not for you.<span>
    </p>
    <p class="f4 mb4 center measure lh-copy">
      <span class="fw9">Pricing:</span>
    </p>
    <p class="f4 center measure light-purple fw6">
    	$999
    </p>
    <ul class="f4 center measure lh-copy">
			<li>Single-page redesign of a homepage, landing page, data table, form or anything else. Because sometimes you don’t need a major overhaul of your entire site. Sometimes you just want to see how it could improve.</li>
		</ul>
    <p class="f4 center measure light-purple fw6">
    	$1,299
    </p>
    <ul class="f4 center measure lh-copy">
			<li>A complete design prototype for a responsive (because it’s 2018) website or iOS app.<span class="fw9"> 5 to 8 pages/or screens.</span></li>
		</ul>
    <p class="f4 center measure light-purple fw6">
    	$2,299
    </p>
    <ul class="f4 center measure lh-copy">
			<li>A fast, reliable website <span class="fw9">(5 to 8 pages). No Templates here folks.</span></li>
			<li>Built in Search Optimization. Because it’s 2018.</li>
			<li>New logo design</li>
		</ul>
    <p class="f4 mb4 mt5 center measure lh-copy">
      And that's it folks. If this sounds appealing to you then send us an email <a class="light-purple f4 f3-ns fw6 link dim dib mb0-l" href="mailto:hello@obvious.studio" >
        hello@obvious.studio
      </a> and let us know how we can help. You can head over to our <a href="https://www.instagram.com/obvious.studio/" class="light-purple link dim dib">Instagram</a> to checkout some of our work and other rad stuff.
    </p>
	</div>
</div>
