<div class="section-one">
	<div class="fl w-100 pa2">
		<div class="center mw7-l">
			<%= image_tag "Obvious-logo.svg" %>
		</div>
		<p class="f4 mb4 center measure lh-copy">
			We don't handle your social media. Or do your online media buying. Or do iPhone and Android apps. Why? Because we think companies that claim they can do everything actually excel at nothing.
		</p>
		<p class="f4 mb4 center measure lh-copy">
			So, what do we do? Well... We are designated hitters in the following areas;
		</p>
		<ul class="f4 mb4 center measure lh-copy">
			<li>We design and develop your website to work across desktop, tablet, and mobile devices.</li>
			<li>We take professional(pretty pictures) of your product to display on-line or in print.</li>
			<li>We help you design beautiful logos.</li>
		</ul>
		<p class="f4 mb4 center measure lh-copy">
      And that's it folks. If this sounds appealing to you then send us an email <a class="light-purple f4 f3-ns fw6 link dim dib mb0-l" href="mailto:hello@impossible.com" >
        hello@yourcompany.com
      </a> and let us know how we can help.
    </p>
	</div>
</div>
